
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: transparent; 
  cursor:pointer;
}

.swiper-container {
  width: 100%;
  transition:opacity .6s ease;
  
  &.loading{
    opacity:0;
    visibility:hidden;
  }
}

.swiper-slide {
  width: auto !important;
}

.card {
  width: 240px;
  border-radius: 8px;
  background: white;
  overflow: hidden;
}

.card__img {
  display: block;
  width: 100%;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card__body {
  padding: 15px 20px;
  font-weight: 600;
  text-align: center;
}

.card__body > h3 {
  font-size: 1.25rem;
  line-height: 1.5;
}

.card__body > span {
  display: block;
  font-size: 1rem;
  color: #f44336;
}

h3, .h3 {
  font-size: 1.75rem; }


p{
	font-family: "Poppins", Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: gray;
}